<section class="header">
  <div class="back">
    <ion-icon name="arrow-back"></ion-icon> Retour
  </div>
  <div class="title">
    <h1>{{recipeToSay.name}}</h1>
  </div>
</section>
<ion-scroll scrollX="true" class="timers" (click)="addTimer()">
  <div *ngIf="timers.length > 0">
    <li *ngFor="let timer of timers" class="timer">
      <div class="reason">{{timer.reason}}</div>
      <div class="time">
        <span class="min">{{timer.timerMinutesAmount}}</span> m
        <span class="sec">{{timer.timerSecondesAmount}}</span> s
      </div>
    </li>
  </div>

  <div class="no-timer" *ngIf="timers.length == 0">
    {{text}} <ion-icon name="mic" [ngStyle]="micColor"></ion-icon>
  </div>
</ion-scroll>
<section class="steps">
  <circle-nashi-steps [steps]="steps" [animation]="animation"></circle-nashi-steps>
</section>
