circle-nashi{

  ion-row{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50% !important;
    width: 100% !important;

    .centered{
      height: 100% !important;
      width: 100% !important;
      display: flex;
      justify-content: center;
      align-items: center;
      height: auto;
      width: auto;
      .circle{
        width: 30rem;
        height: 30rem;

        svg{
          width: 30rem;
          height: 30rem;
          *{
            transition: 1s linear;
            stroke-dasharray: 2% 208%;
          }
          transition: 1s linear;
        }

        .start, .circle{
          position: fixed;
          top: 2rem;
        }

        .start{
          transform: translate(-10.02rem, 3.1rem);
        }

        circle{
          animation-duration: 1.7s;
          animation-iteration-count: infinite;
          transition: 1s linear;
          transform-origin: 50% 50%;
          animation-timing-function: cubic-bezier(0.4,0.2,0.4,0.7);

        }
      }
    }
  }

  button{
    position: fixed !important;
    top:0;
    left: 0;
  }
}


@keyframes animListen {
  0% {
    stroke-dasharray: 2%, 208%;
    stroke-dashoffset:  -68%;
  }
  50%{
    stroke-dasharray: 100%, 0%;
    stroke-dashoffset:  -68%;
    transform: rotate(-230deg);
  }
  100%{
    stroke-dasharray: 2%, 208%;
    stroke-dashoffset:  -68%;
    transform: rotate(-360deg);
  }
}


@keyframes animCircle {
  0% {
    stroke-dasharray: 2%, 208%;
    stroke-dashoffset:  -68%;
  }
  25%{
    stroke-dasharray: 20%, 50%;
    stroke-dashoffset:  -68%;
    transform: rotate(-180deg);
  }
  100%{
    stroke-dasharray: 2%, 208%;
    stroke-dashoffset:  -68%;
    transform: rotate(-360deg);
  }
}

