circle-nashi{
  ion-row{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 50% !important;
    width: 100% !important;

    .centered{
      height: 100% !important;
      width: 100% !important;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      height: auto;
      width: auto;
      align-items: center;
      .circle{
        width: 30rem;
        height: 30rem;

        svg{
          width: 30rem;
          height: 30rem;
          *{
            -webkit-transition: 1s linear;
            transition: 1s linear;
            stroke-dasharray: 2% 208%;
          }
          -webkit-transition: 1s linear;
          transition: 1s linear;
        }

        .start, .circle{
          position: absolute;
        }

        .start{
          -webkit-transform: translate(-10.02rem, 3.1rem);
                  transform: translate(-10.02rem, 3.1rem);
        }

        circle{
          -webkit-animation-duration: 1.7s;
                  animation-duration: 1.7s;
          -webkit-animation-iteration-count: infinite;
                  animation-iteration-count: infinite;
          -webkit-transition: 1s linear;
          transition: 1s linear;
          -webkit-transform-origin: 50% 50%;
                  transform-origin: 50% 50%;
          -webkit-animation-timing-function: cubic-bezier(0.4,0.2,0.4,0.7);
                  animation-timing-function: cubic-bezier(0.4,0.2,0.4,0.7);

        }
      }
    }
  }

  button{
    position: fixed !important;
    top:0;
    left: 0;
  }

  text-helper{
    position: absolute;
    width: 100%;
    p{
      width: 100%;
      text-align: center;
    }
  }
}






@-webkit-keyframes animListen {
  0% {
    stroke-dasharray: 2%, 208%;
    stroke-dashoffset:  -68%;
  }
  50%{
    stroke-dasharray: 100%, 0%;
    stroke-dashoffset:  -68%;
    -webkit-transform: rotate(-230deg);
            transform: rotate(-230deg);
  }
  100%{
    stroke-dasharray: 2%, 208%;
    stroke-dashoffset:  -68%;
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}






@keyframes animListen {
  0% {
    stroke-dasharray: 2%, 208%;
    stroke-dashoffset:  -68%;
  }
  50%{
    stroke-dasharray: 100%, 0%;
    stroke-dashoffset:  -68%;
    -webkit-transform: rotate(-230deg);
            transform: rotate(-230deg);
  }
  100%{
    stroke-dasharray: 2%, 208%;
    stroke-dashoffset:  -68%;
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@-webkit-keyframes animLoad{
  0% {
    stroke-dasharray: 2%, 208%;
    stroke-dashoffset:  -68%;
  }
  65%{
    stroke-dasharray: 30%, 100%;
    stroke-dashoffset:  -68%;
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  100%{
    stroke-dasharray: 2%, 208%;
    stroke-dashoffset:  -68%;
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes animLoad{
  0% {
    stroke-dasharray: 2%, 208%;
    stroke-dashoffset:  -68%;
  }
  65%{
    stroke-dasharray: 30%, 70%;
    stroke-dashoffset:  -68%;
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  100%{
    stroke-dasharray: 2%, 208%;
    stroke-dashoffset:  -68%;
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}
