page-home {
  ion-grid {
    height: 100%;

    #header {
      height: 15%;
    }

    #circle {
      height: 60%;
    }

    #content {
      height: 10%;
    }

    #footer {
      height: 15%;
    }
  }

  .circle {
    svg {
      top: 6rem;
    }
  }
}
